.poke-list-container{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.poke-item{
    margin-top: 10px;
    padding: 10px;
    width: 90%;
    max-width: 600px;
    background-color: rgb(88, 5, 109);
    color: white;
    font-size: 20px;
    border-radius: 4px;
    text-transform: capitalize;
}

.poke-item:hover{
    background-color:red;
}